@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
}

body,
html {
    overflow-x: hidden;
}

body {
    color: rgb(var(--foreground-rgb));
    background: #ffffff;
}

.gsmContainer {
    background: linear-gradient(
        135deg,
        rgba(21, 21, 21, 0.2) 0%,
        rgba(21, 21, 21, 0) 100%
    );
    backdrop-filter: blur(60px);
}

@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background: #121212;
    }
    .gsmContainer {
        background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0.05) 0%,
            rgba(255, 255, 255, 0) 100%
        );
        backdrop-filter: blur(60px);
    }
}

@media only screen and (max-width: 480px) {
    html {
        font-size: 30%;
    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 60%;
    }
}

@media only screen and (max-width: 1024px) {
    html {
        font-size: 80%;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
