@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: #121212;
}

*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.gsmContainer {
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 0) 100%
    );
    backdrop-filter: blur(21px);
}

@media only screen and (max-width: 480px) {
    html {
        font-size: 30%;
    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 60%;
    }
}

@media only screen and (max-width: 1024px) {
    html {
        font-size: 80%;
    }
}
